{% extends "./layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}

{# render_field() macro definition
TODO: document #}

{% macro render_field(field) -%}

{{field.label(class="register__label form-group")}}

{% if field.errors %}
{{ field(class="form-control is-invalid") }}
<div class="invalid-feedback">
    {% for error in field.errors %}
    <span>{{ error }}</span>
    {% endfor %}
</div>
{% else %}
{{ field(class="form-control")}}
{% endif %}
{%- endmacro -%}

<form action="" method="post" class="login__form validate">
    <!--TODO: Re style-->
    {{ form.hidden_tag() }}
    <fieldset class="login__fieldset form-group">
        <legend>Login!</legend>

        <div class="form-group">
            {{ render_field(form.email) }}
        </div>
        <div class="form-group">
            {{ render_field(form.password) }}
        </div>
        <div class="form-group">
            {{ render_field(form.remember) }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
        <div class="small text-center text-muted">
            <small>No account yet? <a href="{{ url_for('auth.register') }}">Register now!</a></small>
        </div>
    </fieldset>

    <!--TODO: erase below after-->
    <!--     <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form> -->
    {% endblock %}