{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<form action="" method="post" class="login__form validate">
    <!--TODO: Re style-->
    {{ form.hidden_tag() }}
    <fieldset class="login__fieldset form-group">
        <legend>Login!</legend>

        <div class="form-group">
            {{ form.email.label(class= "login__label form-group") }}

            {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid", placeholder = "Email", autocomplete = "off") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span> {{ error }} </span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control", placeholder = "Email", autocomplete = "off")}}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class= "login__label form-group") }}

            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid", placeholder ="Enter your password", autocomplete = "off",
            minlength = form.password.validators[1].min)
            }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span> {{ error }} </span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control", placeholder ="Enter your password", autocomplete = "off", minlength =
            form.password.validators[1].min)}}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
        <div class="small text-center text-muted">
            <small>No account yet? <a href="{{ url_for('register') }}">Register now!</a></small>
        </div>
    </fieldset>

    <!--TODO: erase below after-->
    <!--     <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form> -->
    {% endblock %}